{{ if .Values.configMap.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name | default (printf "%s-configmap" .Values.name) }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
data:
  {{- .Values.configMap.value | nindent 2 }}
{{- end }}
