{{- if .Values.cronjob.enabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
spec:
  schedule: {{ .Values.cronjob.schedule | quote }}
  concurrencyPolicy: {{ .Values.cronjob.concurrencyPolicy | default "Forbid" }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: {{ .Values.name }}
        spec:
          serviceAccountName: {{ .Values.name }}-serviceaccount
          restartPolicy: {{ .Values.cronjob.restartPolicy }}
          {{- if .Values.initContainers.enabled }}
          initContainers:
            {{- with .Values.initContainers }}
              {{- toYaml .containers | nindent 12 }}
            {{- end }}
          {{- end }}
          containers:
            - name: {{ .Values.name }}
              image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
              imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
              {{- with .Values.env }}
              env:
                {{- toYaml . | nindent 14 }}
              {{- end }}
              {{- if .Values.command.exec }}
              command:
              {{- range .Values.command.exec }}
                - {{ . | quote }}
              {{- end }}
              {{- end }}
              {{- if .Values.command.args }}
              args:
              {{- range .Values.command.args }}
                - {{ . | quote }}
              {{- end }}
              {{- end }}
              resources:
                {{- toYaml .Values.resources | nindent 16 }}
              {{- with .Values.volumeMounts }}
              volumeMounts:
                {{- toYaml . | nindent 14 }}
              {{- end }}
              {{- with .Values.containerSecurityContext }}
              securityContext:
                {{- toYaml . | nindent 16 }}
              {{- end }}
          {{- with .Values.volumes }}
          volumes:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.podSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}