{{ if .Values.daemonSet.enabled -}}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.name }}
  updateStrategy:
    type: {{ .Values.daemonSet.updateStrategy.type | default "RollingUpdate" }}
    {{- if eq .Values.daemonSet.updateStrategy.type "RollingUpdate" }}
    rollingUpdate:
      maxUnavailable: {{ .Values.daemonSet.updateStrategy.rollingUpdate.maxUnavailable }}
    {{- end }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ .Values.name }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds | default 30 }}
      serviceAccountName: {{ .Values.name }}-serviceaccount
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.initContainers.enabled }}
      initContainers:
        {{- with .Values.initContainers }}
          {{- toYaml .containers | nindent 6 }}
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Values.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          {{- if .Values.command.exec }}
          command: {{- toYaml .Values.command.exec | nindent 10 }}
          {{- end }}
          {{- if .Values.command.args }}
          args: {{- toYaml .Values.command.args | nindent 12 }}
          {{- end }}
          resources:
            limits:
              {{- toYaml .Values.resources.limits | nindent 14 }}
            requests:
              {{- toYaml .Values.resources.requests | nindent 14 }}
          {{- with .Values.containerPorts }}
          ports:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          startupProbe:
            {{- with .Values.probes.httpGet }}
            httpGet:
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with .Values.probes.tcpSocket }}
            tcpSocket:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- if .Values.probes.exec.command }}
            exec:
              command:
                {{- .Values.probes.exec.command | toYaml | nindent 16 }}
            {{- end }}
            failureThreshold: {{ .Values.startupProbe.failureThreshold | default 15 }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds | default 10 }}
            successThreshold: {{ .Values.startupProbe.successThreshold | default 1 }}
            timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds | default 15 }}
          livenessProbe:
            {{- with .Values.probes.httpGet }}
            httpGet:
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with .Values.probes.tcpSocket }}
            tcpSocket:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- if .Values.probes.exec.command }}
            exec:
              command:
                {{- .Values.probes.exec.command | toYaml | nindent 16 }}
            {{- end }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold | default 3 }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds | default 30 }}
            successThreshold: {{ .Values.livenessProbe.successThreshold | default 1 }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds | default 5 }}
          readinessProbe:
            {{- with .Values.probes.httpGet }}
            httpGet:
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with .Values.probes.tcpSocket }}
            tcpSocket:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- if .Values.probes.exec.command }}
            exec:
              command:
                {{- .Values.probes.exec.command | toYaml | nindent 16 }}
            {{- end }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold | default 2 }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds | default 10 }}
            successThreshold: {{ .Values.readinessProbe.successThreshold | default 2 }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds | default 5 }}
          {{- with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- if .Values.containerSecurityContext }}
          securityContext:
            {{- if .Values.containerSecurityContext.allowPrivilegeEscalation }}
            allowPrivilegeEscalation: {{ .Values.containerSecurityContext.allowPrivilegeEscalation }}
            {{- end }}
            {{- if .Values.containerSecurityContext.capabilities.drop }}
            capabilities:
              drop:
                {{- toYaml .Values.containerSecurityContext.capabilities.drop | nindent 16 }}
            {{- end }}
            {{- if .Values.containerSecurityContext.readOnlyRootFilesystem }}
            readOnlyRootFilesystem: {{ .Values.containerSecurityContext.readOnlyRootFilesystem }}
            {{- end }}
            {{- if .Values.containerSecurityContext.privileged }}
            privileged: {{ .Values.containerSecurityContext.privileged }}
            {{- end }}
          {{- end }}
          {{- if .Values.sidecarContainers.enabled }}
            {{- with .Values.sidecarContainers }}
              {{- toYaml .containers | nindent 6 }}
            {{- end }}
          {{- end }}
      {{- if .Values.hostNetwork }}
      hostNetwork: {{ .Values.hostNetwork | default false }}
      {{- end }}
      {{- if .Values.dnsPolicy }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- end }}
      {{- if .Values.dnsConfig.nameservers }}
      dnsConfig:
        nameservers:
          {{- toYaml .Values.dnsConfig.nameservers | nindent 8 }}
      {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 6 }}
      {{- end }}
{{- end }}
