{{ if .Values.deployment.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
  strategy:
    type: {{ .Values.strategyType | default "Recreate" }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ .Values.name }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds | default 30 }}
      serviceAccountName: {{ .Values.name }}-serviceaccount
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.initContainers.enabled }}
      initContainers:
        {{- with .Values.initContainers }}
          {{- toYaml .containers | nindent 8 }}
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Values.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          {{- if .Values.command.enabled }}
          command: {{- toYaml .Values.command.exec | nindent 12 }}
          {{- end }}
          resources:
            limits:
              {{- toYaml .Values.resources.limits | nindent 14 }}
            requests:
              {{- toYaml .Values.resources.requests | nindent 14 }}
          {{- with .Values.containerPorts }}
          ports:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          startupProbe:
            {{- with .Values.probes.httpGet }}
            httpGet:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with .Values.probes.tcpSocket }}
            tcpSocket:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- if .Values.probes.exec.command }}
            exec:
              command:
                {{- .Values.probes.exec.command | toYaml | nindent 16 }}
            {{- end }}
            failureThreshold: {{ .Values.startupProbe.failureThreshold | default 15 }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds | default 10 }}
            successThreshold: {{ .Values.startupProbe.successThreshold | default 1 }}
            timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds | default 15 }}
          livenessProbe:
            {{- with .Values.probes.httpGet }}
            httpGet:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with .Values.probes.tcpSocket }}
            tcpSocket:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- if .Values.probes.exec.command }}
            exec:
              command:
                {{- .Values.probes.exec.command | toYaml | nindent 16 }}
            {{- end }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold | default 3 }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds | default 30 }}
            successThreshold: {{ .Values.livenessProbe.successThreshold | default 1 }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds | default 5 }}
          readinessProbe:
            {{- with .Values.probes.httpGet }}
            httpGet:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with .Values.probes.tcpSocket }}
            tcpSocket:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- if .Values.probes.exec.command }}
            exec:
              command:
                {{- .Values.probes.exec.command | toYaml | nindent 16 }}
            {{- end }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold | default 2 }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds | default 10 }}
            successThreshold: {{ .Values.readinessProbe.successThreshold | default 2 }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds | default 5 }}
          {{- with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.containerSecurityContext.enabled }}
          securityContext:
            allowPrivilegeEscalation: {{ .Values.containerSecurityContext.allowPrivilegeEscalation }}
            {{- if .Values.containerSecurityContext.capabilities.drop }}
            capabilities:
              drop:
                {{- toYaml .Values.containerSecurityContext.capabilities.drop | nindent 16 }}
              {{- if .Values.containerSecurityContext.capabilities.add }}
              add:
                {{- toYaml .Values.containerSecurityContext.capabilities.add | nindent 16 }}
              {{- end }}
            {{- end }}
            readOnlyRootFilesystem: {{ .Values.containerSecurityContext.readOnlyRootFilesystem }}
            privileged: {{ .Values.containerSecurityContext.privileged }}
          {{- end }}
          {{- if .Values.sidecarContainers.enabled }}
            {{- if .Values.sidecarContainers.postgresExporter }}
        - name: postgres-exporter
          image: quay.io/prometheuscommunity/postgres-exporter:latest
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
          env:
            - name: DATA_SOURCE_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.name }}-postgres-credentials
                  key: username
            - name: DATA_SOURCE_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.name }}-postgres-credentials
                  key: password
            - name: DATA_SOURCE_URI
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.name }}-postgres-credentials
                  key: uri
            - name: PG_EXPORTER_METRIC_PREFIX
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.name }}-postgres-credentials
                  key: metrics-prefix
          resources:
            limits:
              cpu: 150m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 64Mi
          ports:
            - containerPort: 9187
              name: metrics
            {{- else }}
            {{- with .Values.sidecarContainers }}
              {{- toYaml .containers | nindent 8 }}
            {{- end }}
            {{- end }}
          {{- end }}
      {{- if .Values.hostNetwork }}
      hostNetwork: {{ .Values.hostNetwork | default false }}
      {{- end }}
      {{- if .Values.dnsPolicy }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- end }}
      {{- if .Values.dnsConfig.nameservers }}
      dnsConfig:
        nameservers:
          {{- toYaml .Values.dnsConfig.nameservers | nindent 10 }}
      {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
