{{ if .Values.podDisruptionBudget.enabled -}}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ .Values.name }}-poddisruptionbudget
  namespace: {{ .Values.namespace }}
spec:
  minAvailable: {{ .Values.minAvailable | default 1 }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
{{- end }}
