{{- if .Values.serviceAccount.enabled -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.name }}-serviceaccount
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
{{- end }}
