{{ if .Values.volume.enabled -}}
apiVersion: longhorn.io/v1beta2
kind: Volume
metadata:
  finalizers:
    - longhorn.io
  labels:
    backup-target: default
    longhornvolume: {{ .Values.volume.name | default .Values.name }}
    {{- if .Values.volume.snapshots.daily }}
    recurring-job-group.longhorn.io/daily: enabled
    {{- else if .Values.volume.snapshots.weekly }}
    recurring-job-group.longhorn.io/weekly: enabled
    {{- else }}
    recurring-job-group.longhorn.io/default: enabled
    {{- end }}
    setting.longhorn.io/remove-snapshots-during-filesystem-trim: ignored
    setting.longhorn.io/replica-auto-balance: ignored
    setting.longhorn.io/snapshot-data-integrity: ignored
  name: {{ .Values.volume.name | default .Values.name }}
  namespace: longhorn-system
spec:
  accessMode: {{ .Values.volume.accessMode }}
  dataEngine: {{ .Values.volume.dataEngine }}
  diskSelector:
    {{- toYaml .Values.volume.diskSelector | nindent 4 }}
  encrypted: {{ .Values.volume.encrypted }}
  frontend: blockdev
  numberOfReplicas: {{ .Values.volume.numberOfReplicas }}
  snapshotMaxCount: {{ .Values.volume.snapshotMaxCount }}
  size: {{ quote .Values.volume.size }}
{{- end }}
