name: argocd-image-updater
namespace: argocd
deployment:
  enabled: false
service:
  enabled: false
networkpolicy:
  enabled: false
serviceAccount:
  enabled: false
podDisruptionBudget:
  enabled: false
containerSecurityContext:
  enabled: false
