name: dawarich-sidekiq
namespace: dawarich
deployment:
  enabled: true
replicaCount: 1
image:
  repository: docker.io/freikin/dawarich
  tag: latest@sha256:e18c28b2f6e0dd973b6ad8c12121c3f3be71c2113928569d409774dd89fc4d07
containerPorts:
- containerPort: 3000
  name: sidekiq
  protocol: TCP
- containerPort: 9394
  name: prometheus
  protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 1G
  requests:
    cpu: 250m
    memory: 500Mi
probes:
  exec:
    command: ["sh", "-c", "if [[ $(pgrep sidekiq | wc -l) -ne 1 ]]; then exit 1; fi"]
service:
  enabled: true
  ports:
  - name: sidekiq
    port: 3000
    protocol: TCP
    targetPort: sidekiq
  - name: prometheus
    port: 9394
    protocol: TCP
    targetPort: prometheus
containerSecurityContext:
  enabled: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: true
  capabilities:
    drop:
    - ALL
    add:
    - CHOWN
    - SETUID
    - SETGID
  seccompProfile:
    type: RuntimeDefault
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
command:
  enabled: true
  exec: ["/bin/sh", "-c", "sidekiq-entrypoint.sh sidekiq"]
volumeMounts:
- name: public
  mountPath: /var/app/public
- name: watched
  mountPath: /var/app/tmp/imports/watched
- name: storage
  mountPath: /var/app/storage
- name: app-tmp
  mountPath: /var/app/tmp
- name: tmp
  mountPath: /tmp
- name: run
  mountPath: /run
volumes:
- name: public
  emptyDir: {}
- name: watched
  emptyDir: {}
- name: storage
  emptyDir: {}
- name: app-tmp
  emptyDir: {}
- name: tmp
  emptyDir: {}
- name: run
  emptyDir: {}
env:
- name: RAILS_ENV
  value: development
- name: REDIS_URL
  value: 'redis://dawarich-redis:6379'
- name: RAILS_MAX_THREADS
  value: '2'
- name: BACKGROUND_PROCESSING_CONCURRENCY
  value: '2'
- name: DATABASE_USERNAME
  valueFrom:
    secretKeyRef:
      name: dawarich-postgres-credentials
      key: username
- name: DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: dawarich-postgres-credentials
      key: password
- name: DATABASE_HOST
  valueFrom:
    secretKeyRef:
      name: dawarich-postgres-credentials
      key: host
- name: DATABASE_NAME
  valueFrom:
    secretKeyRef:
      name: dawarich-postgres-credentials
      key: name
- name: DATABASE_PORT
  valueFrom:
    secretKeyRef:
      name: dawarich-postgres-credentials
      key: port
- name: APPLICATION_HOSTS
  value: dawarich.fiora.li
- name: TIME_ZONE
  value: America/Toronto
- name: APPLICATION_PROTOCOL
  value: http
- name: ENABLE_TELEMETRY
  value: 'false'
- name: SELF_HOSTED
  value: 'true'
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  podSelector: true
  ingress:
    allowAll: true
  egress:
    internet: true
imageUpdater:
  enabled: true
