name: dawarich-db
namespace: dawarich
deployment:
  enabled: true
image:
  repository: ghcr.io/baosystems/postgis
  tag: 17@sha256:f9be82aed59d43b4b9bcab6fd47114d783cb72545b99f0b3913c49d3a5d2b635
containerPorts:
- containerPort: 5432
  name: db
  protocol: TCP
resources:
  limits:
    cpu: 1
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 250Mi
probes:
  exec:
    command:
    - sh
    - -c
    - pg_isready -U postgres -d dawarich_development
service:
  enabled: true
  ports:
  - name: db
    port: 5432
    protocol: TCP
    targetPort: db
volumeMounts:
- name: dawarich-persistent-storage
  mountPath: /var/lib/postgresql/data
  subPath: db_data
- name: dawarich-persistent-storage
  mountPath: /var/shared
  subPath: shared
- name: tmp
  mountPath: /tmp
- name: postgresql
  mountPath: /var/run/postgresql
volumes:
- name: dawarich-persistent-storage
  persistentVolumeClaim:
    claimName: dawarich
- name: tmp
  emptyDir: {}
- name: postgresql
  emptyDir: {}
env:
- name: POSTGRES_USER
  value: postgres
- name: POSTGRES_PASSWORD
  valueFrom:
    secretKeyRef:
      name: dawarich-credentials
      key: DATABASE_PASSWORD
- name: POSTGRES_HOST_AUTH_METHOD
  value: trust
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  podSelector: true
  ingress:
    allowAll: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 999
  runAsNonRoot: true
  runAsUser: 999
imageUpdater:
  enabled: true
  rootImageTag: "17"
