name: dawarich-redis
namespace: dawarich
deployment:
  enabled: true
replicaCount: 1
image:
  repository: docker.io/redis
  tag: alpine@sha256:4eec4565e45aa0b3966554c866bc73211e281b0b3d89fe9a33c982e6faca809d
containerPorts:
- containerPort: 6379
  name: redis
  protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 250Mi
probes:
  exec:
    command:
    - sh
    - -c
    - redis-cli --raw incr ping
service:
  enabled: true
  ports:
  - name: redis
    port: 6379
    protocol: TCP
    targetPort: redis
volumeMounts:
- name: shared
  mountPath: /data
volumes:
- name: shared
  emptyDir: {}
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  podSelector: true
  ingress:
    allowAll: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 999
  runAsNonRoot: true
  runAsUser: 999
imageUpdater:
  enabled: true
