name: dawarich-app
namespace: dawarich
deployment:
  enabled: true
image:
  repository: docker.io/freikin/dawarich
  tag: latest@sha256:1269069eac00f53ca1327aaabc34cb692084738129a35e8274adacaab8197d0b
containerPorts:
- containerPort: 3000
  name: dawarich
  protocol: TCP
resources:
  limits:
    cpu: 1
    memory: 3G
  requests:
    cpu: 250m
    memory: 2G
probes:
  httpGet:
    path: /api/v1/health
    port: dawarich
containerSecurityContext: {}
podSecurityContext: {}
service:
  enabled: true
  ports:
  - name: dawarich
    port: 3000
    protocol: TCP
    targetPort: dawarich
command:
  enabled: true
  exec: ["/bin/sh", "-c", "web-entrypoint.sh bin/dev server -p 3000 -b ::"]
volumeMounts:
- name: public
  mountPath: /var/app/public
- name: watched
  mountPath: /var/app/tmp/imports/watched
- name: dawarich-persistent-storage
  mountPath: /var/app/storage
  subPath: storage
- name: tmp
  mountPath: /tmp
- name: app-tmp
  mountPath: /var/app/tmp
volumes:
- name: dawarich-persistent-storage
  persistentVolumeClaim:
    claimName: dawarich
- name: public
  emptyDir: {}
- name: watched
  emptyDir: {}
- name: tmp
  emptyDir: {}
- name: app-tmp
  emptyDir: {}
env:
- name: RAILS_ENV
  value: development
- name: REDIS_URL
  value: 'redis://dawarich-redis:6379'
- name: RAILS_LOG_LEVEL
  value: info
- name: DATABASE_HOST
  value: dawarich-db
- name: DATABASE_USERNAME
  value: postgres
- name: DATABASE_NAME
  value: dawarich_development
- name: DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: dawarich-credentials
      key: DATABASE_PASSWORD
- name: QUEUE_DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: dawarich-credentials
      key: QUEUE_DATABASE_PASSWORD
- name: QUEUE_DATABASE_NAME
  value: dawarich_development_queue
- name: QUEUE_DATABASE_USERNAME
  value: postgres
- name: QUEUE_DATABASE_HOST
  value: dawarich-db
- name: MIN_MINUTES_SPENT_IN_CITY
  value: '60'
- name: APPLICATION_HOSTS
  value: localhost,dawarich.fiora.li,dawarich-app.dawarich
- name: TIME_ZONE
  value: America/Toronto
- name: APPLICATION_PROTOCOL
  value: http
- name: DISTANCE_UNIT
  value: km
- name: SECRET_KEY_BASE
  value: '1234567890'
- name: RAILS_LOG_TO_STDOUT
  value: 'true'
- name: PROMETHEUS_EXPORTER_ENABLED
  value: 'true'
- name: PROMETHEUS_EXPORTER_HOST
  value: 'localhost'
- name: PROMETHEUS_EXPORTER_PORT
  value: '9394'
- name: ENABLE_TELEMETRY
  value: 'false'
- name: SELF_HOSTED
  value: 'true'
- name: STORE_GEODATA
  value: 'true'
ingress:
  enabled: true
  name: dawarich
  portName: dawarich
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  podSelector: true
  ingress:
    allowAll: true
volume:
  enabled: true
  accessMode: rwx
  name: dawarich
  size: "1073741824"
