name: dawarich-sidekiq
namespace: dawarich
deployment:
  enabled: true
image:
  repository: docker.io/freikin/dawarich
  tag: latest@sha256:ce2a337a1c2d521cf7d5265abe5abb1f9a645322e7184b6a20fd8ff59943a9e1
containerPorts:
- containerPort: 3000
  name: sidekiq
  protocol: TCP
- containerPort: 9394
  name: prometheus
  protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 1G
  requests:
    cpu: 250m
    memory: 500Mi
probes:
  exec:
    command: ["sh", "-c", "if [[ $(pgrep sidekiq | wc -l) -ne 1 ]]; then exit 1; fi"]
service:
  enabled: true
  ports:
  - name: sidekiq
    port: 3000
    protocol: TCP
    targetPort: sidekiq
  - name: prometheus
    port: 9394
    protocol: TCP
    targetPort: prometheus
containerSecurityContext:
  enabled: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: true
  capabilities:
    drop:
    - ALL
    add:
    - CHOWN
    - SETUID
    - SETGID
  seccompProfile:
    type: RuntimeDefault
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
command:
  enabled: true
  exec: ["/bin/sh", "-c", "sidekiq-entrypoint.sh sidekiq"]
volumeMounts:
- name: dawarich-persistent-storage
  mountPath: /var/app/public
  subPath: public
- name: dawarich-persistent-storage
  mountPath: /var/app/tmp/imports/watched
  subPath: watched
- name: dawarich-persistent-storage
  mountPath: /var/app/storage
  subPath: storage
- name: run
  mountPath: /run
volumes:
- name: dawarich-persistent-storage
  persistentVolumeClaim:
    claimName: dawarich
- name: run
  emptyDir: {}
env:
- name: RAILS_ENV
  value: development
- name: REDIS_URL
  value: 'redis://dawarich-redis:6379'
- name: DATABASE_HOST
  value: dawarich-db
- name: DATABASE_USERNAME
  value: postgres
- name: DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: dawarich-credentials
      key: DATABASE_PASSWORD
- name: DATABASE_NAME
  value: dawarich_development
- name: MIN_MINUTES_SPENT_IN_CITY
  value: '60'
- name: APPLICATION_HOSTS
  value: dawarich.fiora.li
- name: TIME_ZONE
  value: America/Toronto
- name: APPLICATION_PROTOCOL
  value: http
- name: DISTANCE_UNIT
  value: km
- name: PROMETHEUS_EXPORTER_ENABLED
  value: 'false'
- name: PROMETHEUS_EXPORTER_HOST
  value: '0.0.0.0'
- name: PROMETHEUS_EXPORTER_PORT
  value: '9394'
- name: ENABLE_TELEMETRY
  value: 'false'
- name: SELF_HOSTED
  value: 'true'
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  podSelector: true
  ingress:
    allowAll: true
imageUpdater:
  enabled: true
