name: dawarich-app
namespace: dawarich
deployment:
  enabled: true
replicaCount: 1
image:
  repository: docker.io/freikin/dawarich
  tag: latest@sha256:ce2a337a1c2d521cf7d5265abe5abb1f9a645322e7184b6a20fd8ff59943a9e1
containerPorts:
  - containerPort: 3000
    name: dawarich
    protocol: TCP
resources:
  limits:
    cpu: 1
    memory: 3G
  requests:
    cpu: 250m
    memory: 2G
probes:
  httpGet:
    path: /api/v1/health
    port: dawarich
  startupProbe:
    failureThreshold: 15
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 15
  livenessProbe:
    failureThreshold: 1
    periodSeconds: 120
    successThreshold: 1
    timeoutSeconds: 5
  readinessProbe:
    failureThreshold: 3
    periodSeconds: 30
    successThreshold: 1
    timeoutSeconds: 5
containerSecurityContext:
  enabled: false
service:
  enabled: true
  ports:
    - name: dawarich
      port: 3000
      protocol: TCP
      targetPort: dawarich
command:
  enabled: true
  exec: ["/bin/sh", "-c", "web-entrypoint.sh bin/dev server -p 3000 -b ::"]
volumeMounts:
  - name: public
    mountPath: /var/app/public
  - name: watched
    mountPath: /var/app/tmp/imports/watched
  - name: storage
    mountPath: /var/app/storage
  - name: app-tmp
    mountPath: /var/app/tmp
  - name: tmp
    mountPath: /tmp
  - name: run
    mountPath: /run
volumes:
  - name: public
    emptyDir: {}
  - name: watched
    emptyDir: {}
  - name: storage
    emptyDir: {}
  - name: app-tmp
    emptyDir: {}
  - name: tmp
    emptyDir: {}
  - name: run
    emptyDir: {}
env:
  - name: RAILS_ENV
    value: development
  - name: REDIS_URL
    value: 'redis://dawarich-redis:6379'
  - name: RAILS_LOG_LEVEL
    value: info
  - name: DATABASE_USERNAME
    valueFrom:
      secretKeyRef:
        name: dawarich-postgres-credentials
        key: username
  - name: DATABASE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: dawarich-postgres-credentials
        key: password
  - name: DATABASE_HOST
    valueFrom:
      secretKeyRef:
        name: dawarich-postgres-credentials
        key: host
  - name: DATABASE_NAME
    valueFrom:
      secretKeyRef:
        name: dawarich-postgres-credentials
        key: name
  - name: DATABASE_PORT
    valueFrom:
      secretKeyRef:
        name: dawarich-postgres-credentials
        key: port

  - name: QUEUE_DATABASE_USERNAME
    valueFrom:
      secretKeyRef:
        name: dawarich-postgres-credentials
        key: password
  - name: QUEUE_DATABASE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: dawarich-postgres-credentials
        key: password
  - name: QUEUE_DATABASE_HOST
    valueFrom:
      secretKeyRef:
        name: dawarich-postgres-credentials
        key: host
  - name: QUEUE_DATABASE_NAME
    value: postgres

  - name: MIN_MINUTES_SPENT_IN_CITY
    value: '60'
  - name: APPLICATION_HOSTS
    value: localhost,dawarich.fiora.li,dawarich-app.dawarich
  - name: TIME_ZONE
    value: America/Toronto
  - name: APPLICATION_PROTOCOL
    value: http
  - name: DISTANCE_UNIT
    value: km
  - name: SECRET_KEY_BASE
    value: '1234567890'
  - name: RAILS_LOG_TO_STDOUT
    value: 'true'
  - name: PROMETHEUS_EXPORTER_ENABLED
    value: 'false'
  # - name: PROMETHEUS_EXPORTER_HOST
  #   value: 'localhost'
  # - name: PROMETHEUS_EXPORTER_PORT
  #   value: '9394'
  - name: ENABLE_TELEMETRY
    value: 'false'
  - name: SELF_HOSTED
    value: 'true'
  - name: STORE_GEODATA
    value: 'true'
ingress:
  enabled: true
  name: dawarich
  portName: dawarich
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  podSelector: true
  ingress:
    allowAll: true
  egress:
    internet: true
imageUpdater:
  enabled: true
