name: dawarich-redis
namespace: dawarich
deployment:
  enabled: true
image:
  repository: docker.io/redis
  tag: latest@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915
containerPorts:
- containerPort: 6379
  name: redis
  protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 250Mi
probes:
  exec:
    command:
    - sh
    - -c
    - redis-cli --raw incr ping
service:
  enabled: true
  ports:
  - name: redis
    port: 6379
    protocol: TCP
    targetPort: redis
volumeMounts:
- name: dawarich-persistent-storage
  mountPath: /data
  subPath: shared
volumes:
- name: dawarich-persistent-storage
  persistentVolumeClaim:
    claimName: dawarich
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  podSelector: true
  ingress:
    allowAll: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 999
  runAsNonRoot: true
  runAsUser: 999
imageUpdater:
  enabled: true
