name: grafana
namespace: monitoring
deployment:
  enabled: true
replicaCount: 1
strategyType: RollingUpdate
image:
  repository: docker.io/grafana/grafana-oss
  tag: latest@sha256:5683be4319a6da1d6ab28c3443b3739683e367f8d72d800638390a04a2680c1c
containerPorts:
- containerPort: 3000
  name: grafana
  protocol: TCP
resources:
  limits:
    cpu: '1'
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 500Mi
probes:
  httpGet:
    path: /api/health
    port: grafana
  startupProbe:
    failureThreshold: 15
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 15
  livenessProbe:
    failureThreshold: 1
    periodSeconds: 120
    successThreshold: 1
    timeoutSeconds: 5
  readinessProbe:
    failureThreshold: 3
    periodSeconds: 30
    successThreshold: 1
    timeoutSeconds: 5
podLabels:
  app.kubernetes.io/name: grafana
service:
  enabled: true
  ports:
  - name: grafana
    port: 3000
    protocol: TCP
    targetPort: grafana
env:
- name: GF_ALERTING_ENABLED
  value: "false"
- name: GF_UNIFIED_ALERTING_ENABLED
  value: "false"
- name: GF_AUTH_DISABLE_LOGIN_FORM
  value: "false"
- name: GF_PLUGINS_CHECK_FOR_UPDATES
  value: "false"
- name: GF_PLUGIN_ADMIN_ENABLED
  value: "false"
- name: GF_LIVE_ENABLED
  value: "false"
- name: GF_PUBLIC_DASHBOARDS_ENABLED
  value: "false"
- name: GF_ANALYTICS_REPORTING_ENABLED
  value: "false"
- name: GF_ANALYTICS_CHECK_FOR_UPDATES
  value: "false"
- name: GF_NEWS_NEWS_FEED_ENABLED
  value: "false"
- name: GF_SNAPSHOTS_ENABLED
  value: "false"
- name: GF_DASHBOARDS_MIN_REFRESH_INTERVAL
  value: 15m
- name: GF_DATABASE_TYPE
  valueFrom:
    secretKeyRef:
      name: grafana-postgres-credentials
      key: type
- name: GF_DATABASE_NAME
  valueFrom:
    secretKeyRef:
      name: grafana-postgres-credentials
      key: name
- name: GF_DATABASE_PORT
  valueFrom:
    secretKeyRef:
      name: grafana-postgres-credentials
      key: port
- name: GF_DATABASE_USER
  valueFrom:
    secretKeyRef:
      name: grafana-postgres-credentials
      key: username
- name: GF_DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: grafana-postgres-credentials
      key: password
- name: GF_DATABASE_HOST
  valueFrom:
    secretKeyRef:
      name: grafana-postgres-credentials
      key: host
- name: GF_DATABASE_SSL_MODE
  value: require
ingress:
  enabled: true
volumeMounts:
- name: grafana-storage
  mountPath: /var/lib/grafana
- name: tmp
  mountPath: /tmp
volumes:
- name: grafana-storage
  emptyDir: {}
- name: tmp
  emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
    namespaces:
    - monitoring
    - loki
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
imageUpdater:
  enabled: true
