name: grafana
namespace: monitoring
deployment:
  enabled: true
replicaCount: 1
strategyType: RollingUpdate
image:
  repository: docker.io/grafana/grafana-oss
  tag: latest@sha256:adaf2d6b44c7e2b711b931b98be153778d313806582a24eab21178804fac2976
containerPorts:
  - containerPort: 3000
    name: grafana
    protocol: TCP
resources:
  limits:
    cpu: '1'
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 500Mi
probes:
  httpGet:
    path: /api/health
    port: grafana
podLabels:
  app.kubernetes.io/name: grafana
service:
  enabled: true
  ports:
    - name: grafana
      port: 3000
      protocol: TCP
      targetPort: grafana
    - name: metrics
      port: 9187
      protocol: TCP
      targetPort: metrics
env:
  - name: GF_DATABASE_TYPE
    value: postgres
  - name: GF_DATABASE_NAME
    value: postgres
  - name: GF_DATABASE_USER
    valueFrom:
      secretKeyRef:
        name: grafana-postgres-credentials
        key: username
  - name: GF_DATABASE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: grafana-postgres-credentials
        key: password
  - name: GF_DATABASE_HOST
    valueFrom:
      secretKeyRef:
        name: grafana-postgres-credentials
        key: host
  - name: GF_DATABASE_SSL_MODE
    value: require
ingress:
  enabled: true
volumeMounts:
  - name: grafana-storage
    mountPath: /var/lib/grafana
  - name: tmp
    mountPath: /tmp
volumes:
  - name: grafana-storage
    emptyDir: {}
  - name: tmp
    emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
    namespaces:
      - monitoring
      - loki
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
imageUpdater:
  enabled: true
serviceMonitor:
  enabled: true
  appSelector: grafana
  port: "metrics"
