name: grafana
namespace: monitoring
deployment:
  enabled: true
replicaCount: 2
strategyType: RollingUpdate
image:
  repository: docker.io/grafana/grafana-oss
  tag: latest@sha256:adaf2d6b44c7e2b711b931b98be153778d313806582a24eab21178804fac2976
containerPorts:
  - containerPort: 3000
    name: grafana
    protocol: TCP
resources:
  limits:
    cpu: '1'
    memory: 500Mi
  requests:
    cpu: 500m
    memory: 250Mi
probes:
  httpGet:
    path: /api/health
    port: grafana
podLabels:
  app.kubernetes.io/name: grafana
service:
  enabled: true
  ports:
    - name: grafana
      port: 3000
      protocol: TCP
      targetPort: grafana
env:
  - name: GF_DATABASE_TYPE
    value: postgres
  - name: GF_DATABASE_HOST
    value: aws-1-ca-central-1.pooler.supabase.com:5432
  - name: GF_DATABASE_NAME
    value: postgres
  - name: GF_DATABASE_USER
    value: postgres.nneyhbzsgnkkzstatxen
  - name: GF_DATABASE_PASSWORD
    value: kinryf-2cedhy-zicBuc
  - name: GF_DATABASE_SSL_MODE
    value: require
ingress:
  enabled: true
volumeMounts:
  - name: grafana-storage
    mountPath: /var/lib/grafana
  - name: tmp
    mountPath: /tmp
volumes:
  - name: grafana-storage
    emptyDir: {}
  - name: tmp
    emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
    namespaces:
      - monitoring
      - loki
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
volume:
  enabled: true
  size: "1073741824"
imageUpdater:
  enabled: true
