name: home-assistant
namespace: home-assistant
deployment:
  enabled: true
image:
  repository: docker.io/homeassistant/home-assistant
  tag: latest@sha256:f971850a6ec1fb5c5fd4e1748058e9e1f589aaf0da933b8d88bb5dee03f5b5e8
containerPorts:
- containerPort: 8123
  name: home-assistant
  protocol: TCP
- containerPort: 5353
  name: homekit-udp
  protocol: UDP
- containerPort: 21063
  name: homekit-tcp
  protocol: TCP
resources:
  limits:
    cpu: '1'
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi
probes:
  httpGet:
    path: /
    port: home-assistant
service:
  enabled: true
  ports:
  - name: home-assistant
    port: 8123
    protocol: TCP
    targetPort: home-assistant
  - port: 5353
    name: homekit-udp
    protocol: UDP
    targetPort: homekit-udp
  - port: 21063
    name: homekit-tcp
    protocol: TCP
    targetPort: homekit-tcp
ingress:
  enabled: true
hostNetwork: true
volumeMounts:
- name: home-assistant-persistent-storage
  mountPath: /config
- name: home-assistant-configmap
  mountPath: /config/configuration.yaml
  subPath: configuration.yaml
  readOnly: true
volumes:
- name: home-assistant-persistent-storage
  persistentVolumeClaim:
    claimName: home-assistant
- name: home-assistant-configmap
  configMap:
    name: home-assistant-configmap
    defaultMode: 511
dnsPolicy: ClusterFirstWithHostNet
networkpolicy:
  ingress:
    internal: true
  egress:
    allowAll: true
configMap:
  enabled: true
  value: |
    configuration.yaml: |
      # Loads default set of integrations. Do not remove.
      default_config:

      # Load frontend themes from the themes folder
      frontend:
        themes: !include_dir_merge_named themes

      automation: !include automations.yaml
      script: !include scripts.yaml
      scene: !include scenes.yaml

      http:
        use_x_forwarded_for: true
        trusted_proxies:
          - 0.0.0.0/0

      alarm_control_panel:
        - platform: manual
          name: Security System
          unique_id: alarm_system
          code_arm_required: false
          delay_time: 0
          arming_time: 0
          arming_states:
            - armed_home
            - armed_away
            - armed_night
          disarmed:
            trigger_time: 0
          armed_away:
            arming_time: 30
            delay_time: 30
        - platform: manual
          name: Kid Alarm
          unique_id: kid_system
          code_arm_required: false
          delay_time: 0
          arming_time: 0
          trigger_time: 300
          arming_states:
            - armed_home
            - armed_away
            - armed_night

      rest_command:
        push_position_to_dawarich:
          url: http://dawarich-app.dawarich:3000/api/v1/overland/batches?api_key={{ api_key }}
          method: POST
          content_type: 'application/json'
          payload: >
            {
              "locations": [
              {
                "type": "Feature",
                "geometry":{
                  "type": "Point",
                  "coordinates":[
                    {{ longitude }},
                    {{ latitude }}
                  ]
                },
                "properties":{
                  "api_key": "{{ api_key }}",
                  "timestamp": "{{ now().isoformat() }}",
                  "altitude": {{ altitude }},
                  "speed": {{ speed }},
                  "horizontal_accuracy": 0,
                  "vertical_accuracy": {{ vertical_accuracy }},
                  "motion": [],
                  "pauses": false,
                  "activity": "{{ activity }}",
                  "desired_accuracy": 0,
                  "deferred": 0,
                  "significant_change": "unknown",
                  "locations_in_payload": 1,
                  "device_id": "{{device_id}}",
                  "wifi": "unknown",
                  "battery_state": "unknown",
                  "battery_level": {{ battery_level }}
                }
              }
              ]
            }
        trigger_garage_siren:
          url: https://192.168.24.1/proxy/protect/integration/v1/alarm-manager/webhook/f3c88d19-abfb-4ef1-8fc7-ed900d3666fa
          method: POST
          verify_ssl: false
          headers:
            X-API-KEY: '{{ api_key }}'
volume:
  enabled: true
  size: "5368709120"
