name: home-assistant
namespace: home-assistant
deployment:
  enabled: true
image:
  repository: docker.io/homeassistant/home-assistant
  tag: latest@sha256:3e2dff545c46e91f4ab2b21597016011d76d0de58bc8eaf51d75e841f337bf88
containerPorts:
- containerPort: 8123
  name: home-assistant
  protocol: TCP
- containerPort: 5353
  name: homekit-udp
  protocol: UDP
- containerPort: 21063
  name: homekit-tcp
  protocol: TCP
resources:
  limits:
    cpu: '1'
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi
probes:
  httpGet:
    path: /
    port: home-assistant
initContainers:
  enabled: true
  containers:
  - name: home-assistant-init
    image: docker.io/alpine/curl:latest
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsUser: 911
    resources:
      limits:
        cpu: 25m
        memory: 25Mi
      requests:
        cpu: 10m
        memory: 10Mi
    env:
    - name: INFLUXDB_TOKEN
      valueFrom:
        secretKeyRef:
          name: home-assistant-credentials
          key: INFLUXDB_TOKEN
    command:
    - sh
    - -c
    - |
      cd /tmp
      curl -L https://github.com/a8m/envsubst/releases/download/v1.4.3/envsubst-Linux-arm64 -o envsubst
      chmod +x envsubst
      # Process all config files with environment variable substitution
      ./envsubst < /tmp/configuration.yaml > /config/configuration.yaml
      echo "Config files processed successfully"
      echo "Processed files:"
      ls -la /config/configuration.yaml
    volumeMounts:
    - name: home-assistant-configmap
      mountPath: /tmp/configuration.yaml
      subPath: configuration.yaml
      readOnly: true
    - name: home-assistant-persistent-storage
      mountPath: /config
    - name: tmp
      mountPath: /tmp
      subPath: tmp
service:
  enabled: true
  ports:
  - name: home-assistant
    port: 8123
    protocol: TCP
    targetPort: home-assistant
  - port: 5353
    name: homekit-udp
    protocol: UDP
    targetPort: homekit-udp
  - port: 21063
    name: homekit-tcp
    protocol: TCP
    targetPort: homekit-tcp
containerSecurityContext:
  enabled: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: true
  capabilities:
    drop:
    - ALL
    add:
    - CHOWN
    - SETUID
    - SETGID
  seccompProfile:
    type: RuntimeDefault
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
env:
- name: S6_READ_ONLY_ROOT
  value: "1"
- name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
  value: "1"
- name: S6_VERBOSITY
  value: "2"
ingress:
  enabled: true
hostNetwork: true
volumeMounts:
- name: home-assistant-persistent-storage
  mountPath: /config
- name: tmp
  mountPath: /run
  subPath: run
volumes:
- name: home-assistant-persistent-storage
  persistentVolumeClaim:
    claimName: home-assistant
- name: home-assistant-configmap
  configMap:
    name: home-assistant-configmap
    defaultMode: 511
- name: tmp
  emptyDir: {}
dnsPolicy: ClusterFirstWithHostNet
networkpolicy:
  ingress:
    internal: true
  egress:
    allowAll: true
serviceMonitor:
  enabled: true
  appSelector: home-assistant
  port: "home-assistant"
  path: /api/prometheus
  interval: 60s
configMap:
  enabled: true
  value: |
    configuration.yaml: |
      # Loads default set of integrations. Do not remove.
      default_config:
      # Load frontend themes from the themes folder
      frontend:
        themes: !include_dir_merge_named themes
      automation: !include automations.yaml
      script: !include scripts.yaml
      scene: !include scenes.yaml
      zeroconf:
      prometheus:
        requires_auth: false
      http:
        use_x_forwarded_for: true
        trusted_proxies:
          - 0.0.0.0/0
      influxdb:
        api_version: 2
        ssl: false
        host: influxdb.fiora.li
        port: 80
        token: ${INFLUXDB_TOKEN}
        organization: fiorali
        bucket: home_assistant
        measurement_attr: entity_id
      alarm_control_panel:
        - platform: manual
          name: Security System
          unique_id: alarm_system
          code_arm_required: false
          delay_time: 0
          arming_time: 0
          arming_states:
            - armed_home
            - armed_away
            - armed_night
          disarmed:
            trigger_time: 0
          armed_away:
            arming_time: 30
            delay_time: 30
        - platform: manual
          name: Kid Alarm
          unique_id: kid_system
          code_arm_required: false
          delay_time: 0
          arming_time: 0
          trigger_time: 300
          arming_states:
            - armed_home
            - armed_away
            - armed_night
      rest_command:
        push_position_to_dawarich:
          url: http://dawarich-app.dawarich:3000/api/v1/overland/batches?api_key={{ api_key }}
          method: POST
          content_type: 'application/json'
          payload: >
            {
              "locations": [
              {
                "type": "Feature",
                "geometry":{
                  "type": "Point",
                  "coordinates":[
                    {{ longitude }},
                    {{ latitude }}
                  ]
                },
                "properties":{
                  "api_key": "{{ api_key }}",
                  "timestamp": "{{ now().isoformat() }}",
                  "altitude": {{ altitude }},
                  "speed": {{ speed }},
                  "horizontal_accuracy": 0,
                  "vertical_accuracy": {{ vertical_accuracy }},
                  "motion": [],
                  "pauses": false,
                  "activity": "{{ activity }}",
                  "desired_accuracy": 0,
                  "deferred": 0,
                  "significant_change": "unknown",
                  "locations_in_payload": 1,
                  "device_id": "{{device_id}}",
                  "wifi": "unknown",
                  "battery_state": "unknown",
                  "battery_level": {{ battery_level }}
                }
              }
              ]
            }
        trigger_garage_siren:
          url: https://192.168.24.1/proxy/protect/integration/v1/alarm-manager/webhook/f3c88d19-abfb-4ef1-8fc7-ed900d3666fa
          method: POST
          verify_ssl: false
          headers:
            X-API-KEY: '{{ api_key }}'
volume:
  enabled: true
  size: "5368709120"
imageUpdater:
  enabled: true
