name: influxdb
namespace: monitoring
deployment:
  enabled: true
image:
  repository: docker.io/influxdb
  tag: latest@sha256:9bd00fec36c83a49ec02696cfb81456e0829bb010d0a7f6ed3ded434c3647970
containerPorts:
- containerPort: 8086
  name: influxdb
  protocol: TCP
resources:
  limits:
    cpu: '1'
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 500Mi
probes:
  tcpSocket:
    port: influxdb
service:
  enabled: true
  ports:
  - name: influxdb
    port: 8086
    protocol: TCP
    targetPort: influxdb
ingress:
  enabled: true
volumeMounts:
- name: influxdb-storage
  mountPath: /var/lib/influxdb2
volumes:
- name: influxdb-storage
  persistentVolumeClaim:
    claimName: influxdb
networkpolicy:
  ingress:
    internal: true
    network: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 2000
  runAsNonRoot: true
  runAsUser: 1000
volume:
  enabled: true
  size: "524288000"
imageUpdater:
  enabled: true
