name: linkding
namespace: linkding
deployment:
  enabled: true
  strategyType: RollingUpdate
replicaCount: 1
image:
  repository: docker.io/sissbruecker/linkding
  tag: latest@sha256:61b2eb9eed8e5772a473fb7f1f8923e046cb8cbbeb50e88150afd5ff287d4060
containerPorts:
  - containerPort: 9090
    name: linkding
    protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 250Mi
probes:
  httpGet:
    path: /health
    port: linkding
service:
  enabled: true
  ports:
    - name: linkding
      port: 9090
      protocol: TCP
      targetPort: linkding
env:
  - name: LD_SUPERUSER_NAME
    valueFrom:
      secretKeyRef:
        name: linkding-credentials
        key: SUPERUSER_USERNAME
  - name: LD_SUPERUSER_PASSWORD
    valueFrom:
      secretKeyRef:
        name: linkding-credentials
        key: SUPERUSER_PASSWORD
  - name: LD_DB_USER
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: DB_USERNAME
  - name: LD_DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: DB_PASSWORD
  - name: LD_DB_HOST
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: DB_HOST
  - name: LD_DB_ENGINE
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: DB_TYPE
  - name: LD_DB_DATABASE
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: DB_NAME
  - name: LD_DB_PORT
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: DB_PORT
ingress:
  enabled: true
volumeMounts:
  - name: linkding-data
    mountPath: /etc/linkding/data
  - name: tmp
    mountPath: /tmp
volumes:
  - name: linkding-data
    emptyDir: {}
  - name: tmp
    emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
imageUpdater:
  enabled: true
externalSecrets:
  - name: linkding-credentials
    data:
      - secretKey: SUPERUSER_USERNAME
        remoteRef:
          key: /homelab/linkding/SUPERUSER_USERNAME
      - secretKey: SUPERUSER_PASSWORD
        remoteRef:
          key: /homelab/linkding/SUPERUSER_PASSWORD
  - name: linkding-postgres-credentials
    data:
      - secretKey: DB_USERNAME
        remoteRef:
          key: /homelab/linkding/DB_USERNAME
      - secretKey: DB_PASSWORD
        remoteRef:
          key: /homelab/linkding/DB_PASSWORD
      - secretKey: DB_HOST
        remoteRef:
          key: /homelab/linkding/DB_HOST
      - secretKey: DB_TYPE
        remoteRef:
          key: /homelab/linkding/DB_TYPE
      - secretKey: DB_NAME
        remoteRef:
          key: /homelab/linkding/DB_NAME
      - secretKey: DB_PORT
        remoteRef:
          key: /homelab/linkding/DB_PORT
