name: linkding
namespace: linkding
deployment:
  enabled: true
  strategyType: RollingUpdate
image:
  repository: docker.io/sissbruecker/linkding
  tag: latest@sha256:61b2eb9eed8e5772a473fb7f1f8923e046cb8cbbeb50e88150afd5ff287d4060
containerPorts:
  - containerPort: 9090
    name: linkding
    protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 250Mi
probes:
  httpGet:
    path: /health
    port: linkding
service:
  enabled: true
  ports:
    - name: linkding
      port: 9090
      protocol: TCP
      targetPort: linkding
    - name: metrics
      port: 9187
      protocol: TCP
      targetPort: metrics
env:
  - name: LD_SUPERUSER_NAME
    valueFrom:
      secretKeyRef:
        name: linkding-credentials
        key: username
  - name: LD_SUPERUSER_PASSWORD
    valueFrom:
      secretKeyRef:
        name: linkding-credentials
        key: password
  - name: LD_DB_USER
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: username
  - name: LD_DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: password
  - name: LD_DB_HOST
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: host
  - name: LD_DB_ENGINE
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: type
  - name: LD_DB_DATABASE
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: name
  - name: LD_DB_PORT
    valueFrom:
      secretKeyRef:
        name: linkding-postgres-credentials
        key: port
ingress:
  enabled: true
volumeMounts:
  - name: linkding-data
    mountPath: /etc/linkding/data
  - name: tmp
    mountPath: /tmp
volumes:
  - name: linkding-data
    emptyDir: {}
  - name: tmp
    emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
imageUpdater:
  enabled: true
sidecarContainers:
  enabled: true
  postgresExporter: true
serviceMonitor:
  enabled: true
  appSelector: linkding
  interval: 6h
  port: "metrics"
