name: loki
namespace: loki
deployment:
  enabled: false
service:
  enabled: false
networkpolicy:
  podSelector: false
  ingress:
    internal: true
    namespaces:
      - monitoring
  egress:
    internal: true
serviceAccount:
  enabled: false
podDisruptionBudget:
  enabled: false
containerSecurityContext:
  enabled: false
