deploymentMode: Distributed

minio:
  enabled: true
  persistence:
    size: 50Gi

loki:
  analytics:
    reporting_enabled: false

  auth_enabled: false

  server:
    log_level: info

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: s3
    s3:
      endpoint: http://loki-minio.loki.svc:9000
      s3ForcePathStyle: true
      insecure: true

  storage_config:
    aws:
      endpoint: http://loki-minio.loki.svc:9000
      s3forcepathstyle: true
      insecure: true

  ingester:
    chunk_encoding: snappy
    wal:
      enabled: true

  querier:
    max_concurrent: 4
    tail_max_duration: 24h

  pattern_ingester:
    enabled: true

  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    max_concurrent_tail_requests: 15
    retention_period: 48h
    max_streams_per_user: 5000

  compactor:
    retention_enabled: true
    compaction_interval: 10m
    delete_request_store: s3
    delete_request_store_key_prefix: delete-requests/

chunksCache:
  allocatedMemory: 1024

gateway:
  service:
    type: ClusterIP

# ---- replicas (reduced footprint) ----

backend:
  replicas: 0

read:
  replicas: 0

write:
  replicas: 0

singleBinary:
  replicas: 0

bloomPlanner:
  replicas: 0

bloomBuilder:
  replicas: 0

bloomGateway:
  replicas: 0

ingester:
  replicas: 3
  zoneAwareReplication:
    enabled: false

distributor:
  replicas: 2
  maxUnavailable: 1

querier:
  replicas: 2
  maxUnavailable: 2

queryFrontend:
  replicas: 1
  maxUnavailable: 1

queryScheduler:
  replicas: 1

compactor:
  replicas: 1

indexGateway:
  replicas: 1
  maxUnavailable: 1
