name: prowlarr
namespace: downloader
deployment:
  enabled: true
strategyType: RollingUpdate
image:
  repository: docker.io/linuxserver/prowlarr
  tag: latest@sha256:d3e9307b320b6772749a2cf8fc2712e9e824c4930b034680ad4d08a9e2f25884
containerPorts:
- containerPort: 9696
  name: prowlarr
  protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 250Mi
probes:
  exec:
    command:
    - sh
    - -c
    - curl -f "http://localhost:9696/api/v1/health?apikey=$PROWLARR__AUTH__APIKEY" || exit 1
  startupProbe:
    failureThreshold: 15
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 15
  livenessProbe:
    failureThreshold: 1
    periodSeconds: 120
    successThreshold: 1
    timeoutSeconds: 5
  readinessProbe:
    failureThreshold: 3
    periodSeconds: 30
    successThreshold: 1
    timeoutSeconds: 5
service:
  enabled: true
  ports:
  - name: prowlarr
    port: 9696
    protocol: TCP
    targetPort: prowlarr
  - name: metrics
    port: 9187
    protocol: TCP
    targetPort: metrics
env:
- name: PUID
  value: "1000"
- name: PGID
  value: "1000"
- name: TZ
  value: "America/Toronto"
- name: S6_READ_ONLY_ROOT
  value: "1"
- name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
  value: "1"
- name: S6_VERBOSITY
  value: "2"
- name: PROWLARR__SERVER__ENABLESSL
  value: "false"
- name: PROWLARR__APP__LAUNCHBROWSER
  value: "false"
- name: PROWLARR__AUTH__METHOD
  value: "Forms"
- name: PROWLARR__AUTH__REQUIRED
  value: "DisabledForLocalAddresses"
- name: PROWLARR__UPDATE__MECHANISM
  value: "docker"
- name: PROWLARR__POSTGRES__PORT
  valueFrom:
    secretKeyRef:
      name: prowlarr-postgres-credentials
      key: port
- name: PROWLARR__POSTGRES__MAINDB
  valueFrom:
    secretKeyRef:
      name: prowlarr-postgres-credentials
      key: name
- name: PROWLARR__POSTGRES__LOGDB
  valueFrom:
    secretKeyRef:
      name: prowlarr-postgres-credentials
      key: name
- name: PROWLARR__POSTGRES__USER
  valueFrom:
    secretKeyRef:
      name: prowlarr-postgres-credentials
      key: username
- name: PROWLARR__POSTGRES__PASSWORD
  valueFrom:
    secretKeyRef:
      name: prowlarr-postgres-credentials
      key: password
- name: PROWLARR__POSTGRES__HOST
  valueFrom:
    secretKeyRef:
      name: prowlarr-postgres-credentials
      key: host
- name: PROWLARR__AUTH__APIKEY
  valueFrom:
    secretKeyRef:
      name: prowlarr-credentials
      key: auth-apikey
ingress:
  enabled: true
volumeMounts:
- name: prowlarr-data
  mountPath: /config
- name: run
  mountPath: /run
volumes:
- name: prowlarr-data
  emptyDir: {}
- name: run
  emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
containerSecurityContext:
  enabled: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: true
  capabilities:
    drop:
    - ALL
    add:
    - CHOWN
    - SETUID
    - SETGID
  seccompProfile:
    type: RuntimeDefault
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
imageUpdater:
  enabled: true
sidecarContainers:
  enabled: true
  postgresExporter: true
serviceMonitor:
  enabled: true
  appSelector: prowlarr
  interval: "6h"
  port: "metrics"
