name: prowlarr
namespace: downloader
deployment:
  enabled: true
image:
  repository: docker.io/linuxserver/prowlarr
  tag: latest@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
containerPorts:
  - containerPort: 9696
    name: prowlarr
    protocol: TCP
resources:
  limits:
    cpu: '1'
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 500Mi
probes:
  exec:
    command:
      - sh
      - -c
      - curl -f "http://localhost:9696/api/v1/health?apikey=$API_KEY" || exit 1
service:
  enabled: true
  ports:
    - name: prowlarr
      port: 9696
      protocol: TCP
      targetPort: prowlarr
env:
  - name: API_KEY
    valueFrom:
      secretKeyRef:
        name: prowlarr-api-key
        key: api-key
  - name: PUID
    value: "1000"
  - name: PGID
    value: "1000"
  - name: TZ
    value: "America/Toronto"
  - name: S6_READ_ONLY_ROOT
    value: "1"
  - name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
    value: "1"
  - name: S6_VERBOSITY
    value: "2"
ingress:
  enabled: true
volumeMounts:
  - name: prowlarr-persistent-storage
    mountPath: /config
  - name: run
    mountPath: /run
volumes:
  - name: prowlarr-persistent-storage
    persistentVolumeClaim:
      claimName: prowlarr
  - name: run
    emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
# Outstanding bug with s6: https://github.com/just-containers/s6-overlay/issues/600
containerSecurityContext:
  enabled: false
  readOnlyRootFilesystem: true
  privileged: false
  # capabilities:
  #   drop:
  #   - ALL
  # allowPrivilegeEscalation: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
volume:
  enabled: true
  size: "1073741824"
imageUpdater:
  enabled: true
