name: prowlarr
namespace: downloader
deployment:
  enabled: true
strategyType: RollingUpdate
image:
  repository: docker.io/linuxserver/prowlarr
  tag: latest@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
containerPorts:
  - containerPort: 9696
    name: prowlarr
    protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 250Mi
probes:
  exec:
    command:
      - sh
      - -c
      - curl -f "http://localhost:9696/api/v1/health?apikey=$PROWLARR__AUTH__APIKEY" || exit 1
service:
  enabled: true
  ports:
    - name: prowlarr
      port: 9696
      protocol: TCP
      targetPort: prowlarr
env:
  - name: PUID
    value: "1000"
  - name: PGID
    value: "1000"
  - name: TZ
    value: "America/Toronto"
  - name: S6_READ_ONLY_ROOT
    value: "1"
  - name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
    value: "1"
  - name: S6_VERBOSITY
    value: "2"
  - name: PROWLARR__SERVER__ENABLESSL
    value: "false"
  - name: PROWLARR__APP__LAUNCHBROWSER
    value: "false"
  - name: PROWLARR__AUTH__METHOD
    value: "Forms"
  - name: PROWLARR__AUTH__REQUIRED
    value: "DisabledForLocalAddresses"
  - name: PROWLARR__UPDATE__MECHANISM
    value: "docker"
  - name: PROWLARR__POSTGRES__HOST
    value: "aws-1-us-east-2.pooler.supabase.com"
  - name: PROWLARR__POSTGRES__PORT
    value: "5432"
  - name: PROWLARR__POSTGRES__MAINDB
    value: "postgres"
  - name: PROWLARR__POSTGRES__LOGDB
    value: "postgres"
  - name: PROWLARR__POSTGRES__USER
    valueFrom:
      secretKeyRef:
        name: prowlarr-credentials
        key: username
  - name: PROWLARR__POSTGRES__PASSWORD
    valueFrom:
      secretKeyRef:
        name: prowlarr-credentials
        key: password
  - name: PROWLARR__AUTH__APIKEY
    valueFrom:
      secretKeyRef:
        name: prowlarr-credentials
        key: auth-apikey
ingress:
  enabled: true
volumeMounts:
  - name: prowlarr-data
    mountPath: /config
  - name: run
    mountPath: /run
volumes:
  - name: prowlarr-data
    emptyDir: {}
  - name: run
    emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
containerSecurityContext:
  enabled: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: true
  capabilities:
    drop:
      - ALL
    add:
      - CHOWN
      - SETUID
      - SETGID
  seccompProfile:
    type: RuntimeDefault
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
imageUpdater:
  enabled: true
