name: radarr
namespace: downloader
deployment:
  enabled: true
strategyType: RollingUpdate
image:
  repository: docker.io/linuxserver/radarr
  tag: latest@sha256:270f25698624b57b86ca119cc95399d7ff15be8297095b4e1223fd5b549b732c
containerPorts:
- containerPort: 7878
  name: radarr
  protocol: TCP
resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 500Mi
probes:
  exec:
    command:
    - sh
    - -c
    - curl -f "http://localhost:7878/api/v3/health?apikey=$RADARR__AUTH__APIKEY" || exit 1
  startupProbe:
    failureThreshold: 15
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 15
  livenessProbe:
    failureThreshold: 1
    periodSeconds: 120
    successThreshold: 1
    timeoutSeconds: 5
  readinessProbe:
    failureThreshold: 3
    periodSeconds: 30
    successThreshold: 1
    timeoutSeconds: 5
service:
  enabled: true
  ports:
  - name: radarr
    port: 7878
    protocol: TCP
    targetPort: radarr
  - name: metrics
    port: 9187
    protocol: TCP
    targetPort: metrics
env:
- name: PUID
  value: "1000"
- name: PGID
  value: "1000"
- name: TZ
  value: "America/Toronto"
- name: S6_READ_ONLY_ROOT
  value: "1"
- name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
  value: "1"
- name: S6_VERBOSITY
  value: "2"
- name: RADARR__SERVER__ENABLESSL
  value: "false"
- name: RADARR__APP__LAUNCHBROWSER
  value: "false"
- name: RADARR__AUTH__METHOD
  value: "Forms"
- name: RADARR__AUTH__REQUIRED
  value: "DisabledForLocalAddresses"
- name: RADARR__UPDATE__MECHANISM
  value: "docker"
- name: RADARR__POSTGRES__PORT
  value: "5432"
- name: RADARR__POSTGRES__MAINDB
  value: "postgres"
- name: RADARR__POSTGRES__LOGDB
  value: "postgres"
- name: RADARR__POSTGRES__USER
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: username
- name: RADARR__POSTGRES__PASSWORD
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: password
- name: RADARR__POSTGRES__HOST
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: host
- name: RADARR__AUTH__APIKEY
  valueFrom:
    secretKeyRef:
      name: radarr-credentials
      key: auth-apikey
ingress:
  enabled: true
volumeMounts:
- name: radarr-data
  mountPath: /config
- name: media-bittorrent
  mountPath: /media-bittorrent
- name: media-movies-0
  mountPath: /media-movies-0
- name: media-movies-1
  mountPath: /media-movies-1
- name: media-movies-2
  mountPath: /media-movies-2
- name: run
  mountPath: /run
volumes:
- name: radarr-data
  emptyDir: {}
- name: media-bittorrent
  persistentVolumeClaim:
    claimName: media-bittorrent
- name: media-movies-0
  persistentVolumeClaim:
    claimName: media-movies-0
- name: media-movies-1
  persistentVolumeClaim:
    claimName: media-movies-1
- name: media-movies-2
  persistentVolumeClaim:
    claimName: media-movies-2
- name: run
  emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
containerSecurityContext:
  enabled: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: true
  capabilities:
    drop:
    - ALL
    add:
    - CHOWN
    - SETUID
    - SETGID
  seccompProfile:
    type: RuntimeDefault
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
imageUpdater:
  enabled: true
serviceMonitor:
  enabled: true
  appSelector: radarr
  port: "metrics"
