name: radarr
namespace: downloader
deployment:
  enabled: true
strategyType: RollingUpdate
image:
  repository: docker.io/linuxserver/radarr
  tag: latest@sha256:6d3e68474ea146f995af98d3fb2cb1a14e2e4457ddaf035aa5426889e2f9249c
containerPorts:
- containerPort: 7878
  name: radarr
  protocol: TCP
resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 500Mi
probes:
  exec:
    command:
    - sh
    - -c
    - curl -m 5 -f "http://localhost:7878/api/v3/health?apikey=$RADARR__AUTH__APIKEY" || exit 1
  startupProbe:
    failureThreshold: 15
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 15
  livenessProbe:
    failureThreshold: 1
    periodSeconds: 120
    successThreshold: 1
    timeoutSeconds: 5
  readinessProbe:
    failureThreshold: 3
    periodSeconds: 30
    successThreshold: 1
    timeoutSeconds: 5
service:
  enabled: true
  ports:
  - name: radarr
    port: 7878
    protocol: TCP
    targetPort: radarr
env:
- name: PUID
  value: "1000"
- name: PGID
  value: "1000"
- name: TZ
  value: "America/Toronto"
- name: S6_READ_ONLY_ROOT
  value: "1"
- name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
  value: "1"
- name: S6_VERBOSITY
  value: "2"
- name: RADARR__SERVER__ENABLESSL
  value: "false"
- name: RADARR__APP__LAUNCHBROWSER
  value: "false"
- name: RADARR__AUTH__METHOD
  value: "Forms"
- name: RADARR__AUTH__REQUIRED
  value: "DisabledForLocalAddresses"
- name: RADARR__UPDATE__MECHANISM
  value: "docker"
- name: RADARR__POSTGRES__PORT
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: DB_PORT
- name: RADARR__POSTGRES__MAINDB
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: DB_NAME
- name: RADARR__POSTGRES__LOGDB
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: DB_NAME
- name: RADARR__POSTGRES__USER
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: DB_USERNAME
- name: RADARR__POSTGRES__PASSWORD
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: DB_PASSWORD
- name: RADARR__POSTGRES__HOST
  valueFrom:
    secretKeyRef:
      name: radarr-postgres-credentials
      key: DB_HOST
- name: RADARR__AUTH__APIKEY
  valueFrom:
    secretKeyRef:
      name: radarr-credentials
      key: AUTH_APIKEY
ingress:
  enabled: true
volumeMounts:
- name: radarr-data
  mountPath: /config
- name: media-bittorrent
  mountPath: /media-bittorrent
- name: media-movies-0
  mountPath: /media-movies-0
- name: media-movies-1
  mountPath: /media-movies-1
- name: media-movies-2
  mountPath: /media-movies-2
- name: run
  mountPath: /run
volumes:
- name: radarr-data
  emptyDir: {}
- name: media-bittorrent
  persistentVolumeClaim:
    claimName: media-bittorrent
- name: media-movies-0
  persistentVolumeClaim:
    claimName: media-movies-0
- name: media-movies-1
  persistentVolumeClaim:
    claimName: media-movies-1
- name: media-movies-2
  persistentVolumeClaim:
    claimName: media-movies-2
- name: run
  emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
containerSecurityContext:
  enabled: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: true
  capabilities:
    drop:
    - ALL
    add:
    - CHOWN
    - SETUID
    - SETGID
  seccompProfile:
    type: RuntimeDefault
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
imageUpdater:
  enabled: true
externalSecrets:
  - name: radarr-postgres-credentials
    data:
      - secretKey: DB_PORT
        remoteRef:
          key: /homelab/radarr/DB_PORT
      - secretKey: DB_NAME
        remoteRef:
          key: /homelab/radarr/DB_NAME
      - secretKey: DB_USERNAME
        remoteRef:
          key: /homelab/radarr/DB_USERNAME
      - secretKey: DB_PASSWORD
        remoteRef:
          key: /homelab/radarr/DB_PASSWORD
      - secretKey: DB_HOST
        remoteRef:
          key: /homelab/radarr/DB_HOST
  - name: radarr-credentials
    data:
      - secretKey: AUTH_APIKEY
        remoteRef:
          key: /homelab/radarr/AUTH_APIKEY
