name: scrypted
namespace: scrypted
deployment:
  enabled: true
image:
  repository: docker.io/koush/scrypted
  tag: lite@sha256:d92de598b5807fd7564964dd78ef7938c494dc1de4a1dafd65243e0dbdc15dbd
containerPorts:
  - containerPort: 11080
    name: scrypted
    protocol: TCP
resources:
  limits:
    cpu: '3'
    memory: 3Gi
  requests:
    cpu: '2'
    memory: 2Gi
probes:
  tcpSocket:
    port: scrypted
service:
  enabled: true
  ports:
    - name: scrypted
      port: 11080
      protocol: TCP
      targetPort: scrypted
ingress:
  enabled: true
env:
  - name: SCRYPTED_DISABLE_AUTHENTICATION
    value: "true"
volumeMounts:
  - name: scrypted-persistent-storage
    mountPath: /server/volume
  - name: logs
    mountPath: /home/ubuntu/.npm/_logs
hostNetwork: true
volumes:
  - name: scrypted-persistent-storage
    persistentVolumeClaim:
      claimName: scrypted
  - name: logs
    emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    allowAll: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
volume:
  enabled: true
  size: "1073741824"
imageUpdater:
  enabled: true
  rootImageTag: "lite"
