name: sillytavern
namespace: sillytavern
deployment:
  enabled: true
image:
  repository: ghcr.io/sillytavern/sillytavern
  tag: latest@sha256:984affa8ba6a99c76303b8005464515580e137b0d1ffdc5c93f011868205f56a
containerPorts:
- containerPort: 8000
  name: sillytavern
  protocol: TCP
resources:
  limits:
    cpu: 2
    memory: 1Gi
  requests:
    cpu: 1
    memory: 500Mi
probes:
  httpGet:
    path: /manifest.json
    port: sillytavern
service:
  enabled: true
  ports:
  - name: sillytavern
    port: 8000
    protocol: TCP
    targetPort: sillytavern
env:
- name: NODE_ENV
  value: production
- name: FORCE_COLOR
  value: '1'
- name: SILLYTAVERN_LISTEN
  value: 'true'
- name: SILLYTAVERN_WHITELISTMODE
  value: 'false'
- name: SILLYTAVERN_BACKUPS_CHAT_ENABLED
  value: 'false'
- name: SILLYTAVERN_SECURITYOVERRIDE
  value: 'true'
ingress:
  enabled: true
volumeMounts:
- name: sillytavern-persistent-storage
  mountPath: /home/node/app/config
  subPath: data/config
- name: sillytavern-persistent-storage
  mountPath: /home/node/app/data
  subPath: data/data
- name: sillytavern-persistent-storage
  mountPath: /home/node/app/plugins
  subPath: data/plugins
- name: sillytavern-persistent-storage
  mountPath: /home/node/app/extensions
  subPath: data/extensions
- name: error
  mountPath: /home/node/app/public/error
- name: backups
  mountPath: /home/node/app/backups
- name: third-party
  mountPath: /home/node/app/public/scripts/extensions/third-party
volumes:
- name: sillytavern-persistent-storage
  persistentVolumeClaim:
    claimName: sillytavern
- name: error
  emptyDir: {}
- name: backups
  emptyDir: {}
- name: third-party
  emptyDir: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    network: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
volume:
  enabled: true
  size: "1073741824"
imageUpdater:
  enabled: true
