name: speedtest
namespace: speedtest
deployment:
  enabled: true
replicaCount: 1
strategyType: RollingUpdate
image:
  repository: docker.io/openspeedtest/latest
  tag: latest@sha256:1745e913f596fe98882b286a67751efdae74774e9caa742a4934bb056e8748d2
containerPorts:
  - containerPort: 3000
    name: speedtest
    protocol: TCP
resources:
  limits:
    cpu: 250m
    memory: 100Mi
  requests:
    cpu: 100m
    memory: 50Mi
probes:
  httpGet:
    path: /
    port: speedtest
service:
  enabled: true
  ports:
    - name: speedtest
      port: 3000
      protocol: TCP
      targetPort: speedtest
networkpolicy:
  ingress:
    internal: true
ingress:
  enabled: true
volumeMounts:
  - name: client-temp
    mountPath: /var/cache/nginx/client_temp
  - name: proxy-temp
    mountPath: /var/cache/nginx/proxy_temp
  - name: fastcgi-temp
    mountPath: /var/cache/nginx/fastcgi_temp
  - name: uwsgi-temp
    mountPath: /var/cache/nginx/uwsgi_temp
  - name: scgi-temp
    mountPath: /var/cache/nginx/scgi_temp
  - name: tmp
    mountPath: /tmp
volumes:
  - name: client-temp
    emptyDir: {}
  - name: proxy-temp
    emptyDir: {}
  - name: fastcgi-temp
    emptyDir: {}
  - name: uwsgi-temp
    emptyDir: {}
  - name: scgi-temp
    emptyDir: {}
  - name: tmp
    emptyDir: {}
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  runAsNonRoot: true
imageUpdater:
  enabled: true
