name: tautulli
namespace: tautulli
deployment:
  enabled: true
image:
  repository: docker.io/tautulli/tautulli
  tag: latest@sha256:746b2accd580c8551bff3570eab9c6606bbefe9b33567feace2a3c3c9863a1d1
containerPorts:
- containerPort: 8181
  name: tautulli
  protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 500Mi
probes:
  httpGet:
    path: /status
    port: tautulli
service:
  enabled: true
  ports:
  - name: tautulli
    port: 8181
    protocol: TCP
    targetPort: tautulli
command:
  enabled: true
  exec: ["/usr/bin/env", "bash", "-c", "python Tautulli.py --datadir /config"]
env:
- name: PUID
  value: "1000"
- name: PGID
  value: "1000"
- name: TZ
  value: "America/Toronto"
ingress:
  enabled: true
volumeMounts:
- name: tautulli-persistent-storage
  mountPath: /config
- name: tmp
  mountPath: /config/logs
  subPath: logs
- name: tmp
  mountPath: /config/backups
  subPath: backups
- name: tmp
  mountPath: /config/cache
  subPath: cache
- name: tmp
  mountPath: /config/exports
  subPath: exports
- name: tmp
  mountPath: /tmp
  subPath: tmp
volumes:
- name: tautulli-persistent-storage
  persistentVolumeClaim:
    claimName: tautulli
- name: tmp
  emptyDir: {}
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
    namespaces:
    - downloader
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
volume:
  enabled: true
  size: "1073741824"
imageUpdater:
  enabled: true
