name: tautulli
namespace: tautulli
deployment:
  enabled: true
image:
  repository: docker.io/tautulli/tautulli
  tag: latest@sha256:5fc33cf56fce13db1a73f91f7b1214950f9b96f72b69ae704e492e88b049c717
containerPorts:
  - containerPort: 8181
    name: tautulli
    protocol: TCP
resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 500Mi
probes:
  httpGet:
    path: /status
    port: tautulli
service:
  enabled: true
  ports:
    - name: tautulli
      port: 8181
      protocol: TCP
      targetPort: tautulli
command:
  enabled: true
  exec: ["/usr/bin/env", "bash", "-c", "python Tautulli.py --datadir /config"]
env:
  - name: PUID
    value: "1000"
  - name: PGID
    value: "2000"
  - name: TZ
    value: "America/Toronto"
ingress:
  enabled: true
volumeMounts:
  - name: tautulli-persistent-storage
    mountPath: /config
  - name: temporary-config-logs
    mountPath: /config/logs
    subPath: logs
  - name: temporary-config-backups
    mountPath: /config/backups
    subPath: backups
  - name: temporary-config-cache
    mountPath: /config/cache
    subPath: cache
  - name: temporary-config-exports
    mountPath: /config/exports
    subPath: exports
  - name: tmp
    mountPath: /tmp
volumes:
  - name: tautulli-persistent-storage
    persistentVolumeClaim:
      claimName: tautulli
  - name: temporary-config-logs
    emptyDir: {}
  - name: temporary-config-backups
    emptyDir: {}
  - name: temporary-config-cache
    emptyDir: {}
  - name: temporary-config-exports
    emptyDir: {}
  - name: tmp
    emptyDir: {}
nodeSelector: {}
tolerations: []
affinity: {}
networkpolicy:
  ingress:
    internal: true
  egress:
    internet: true
    namespaces:
      - downloader
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 2000
  runAsNonRoot: true
  runAsUser: 1000
volume:
  enabled: true
  size: "1073741824"
imageUpdater:
  enabled: true
