name: unifi-poller
namespace: monitoring
deployment:
  enabled: true
strategyType: RollingUpdate
image:
  repository: ghcr.io/unpoller/unpoller
  tag: latest@sha256:bfe3eee9396919165f8dfe8282dfc7d30b27308748e0d6bb5c90aabc4dd36e3e
containerPorts:
- containerPort: 9130
  name: poller
  protocol: TCP
resources:
  limits:
    cpu: 2000m
    memory: 250Mi
  requests:
    cpu: 500m
    memory: 100Mi
probes:
  tcpSocket:
    port: poller
service:
  enabled: true
  ports:
  - name: poller
    port: 9130
    protocol: TCP
    targetPort: poller
env:
- name: UP_UNIFI_DEFAULT_URL
  value: "https://192.168.24.1"
- name: UP_UNIFI_DEFAULT_USER
  value: "read-only"
- name: UP_UNIFI_DEFAULT_PASS
  value: "t9X3DLokVGFl"
- name: UP_UNIFI_DEFAULT_SAVE_DPI
  value: "true"
- name: UP_INFLUXDB_DISABLE
  value: "true"
- name: UP_PROMETHEUS_DEAD_PORTS
  value: "true"
- name: unifi-poller_PORT
  value: "9130"
- name: unifi-poller_TOKEN_STORE
  value: "/opt/unifi-poller/unifi-poller.store"
- name: UP_LOKI_DISABLE
  value: "true"
networkpolicy:
  ingress:
    network: true
  egress:
    network: true
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  privileged: false
podSecurityContext:
  fsGroup: 2000
  runAsNonRoot: true
  runAsUser: 1000
imageUpdater:
  enabled: true
