# Default values for fiorali.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
deployment:
  enabled: true

daemonSet:
  enabled: false
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1

name: ""
namespace: ""
replicaCount: 1
strategyType: Recreate

podAnnotations: {}
podLabels: {}

image:
  repository: ""
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

containerPorts: []

probes:
  httpGet: {}
  tcpSocket: {}
  exec:
    command: []
  startupProbe: {}
  livenessProbe: {}
  readinessProbe: {}
startupProbe: {}
livenessProbe: {}
readinessProbe: {}

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

containerSecurityContext:
  enabled: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
    add: []
  readOnlyRootFilesystem: true
  privileged: false

podSecurityContext: {}

command:
  enabled: false
  exec: []
  args: []

env: []

hostNetwork: false

resources:
  limits: {}
  requests: {}

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

initContainers:
  enabled: false
  containers:
    - name: ""
      image:
        repository: ""
        tag: ""
      securityContext: {}
      imagePullPolicy: IfNotPresent
      command: []
      args: []
      resources: {}
      volumeMounts: []

clusterRole:
  enabled: false
  rules: []

clusterRoleBinding:
  enabled: false

dnsPolicy: ""
dnsConfig:
  nameservers: []

service:
  enabled: true
  loadBalancerIP: ""
  type: ClusterIP
  ports: []
  externalTrafficPolicy: ""

ingress:
  enabled: false
  portNumber: ""
  name: ""
  portName: ""

configMap:
  enabled: false
  name: ""
  value: ""

serviceMonitor:
  enabled: false
  appSelector: ""
  namespaceSelector: ""
  port: ""

tests:
  enabled: false

networkpolicy:
  enabled: true
  podSelector: true
  ingress:
    allowAll: false
    namespaces: []
    internal: false
    network: false
    internet: false
  egress:
    allowAll: false
    namespaces: []
    internal: false
    network: false
    internet: false

prometheusRules:
  enabled: false
  rules: []

namespaceChart:
  enabled: false

serviceAccount:
  enabled: true

podDisruptionBudget:
  enabled: true
  minAvailable: 0
  maxUnavailable: 1

cronjob:
  enabled: false
  schedule: ""
  suspend: false
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  restartPolicy: Never
  startingDeadlineSeconds: 0

volume:
  enabled: false
  snapshots:
    daily: true
    weekly: false
  accessMode: rwo
  dataEngine: v1
  diskSelector:
    - SSD
  encrypted: true
  numberOfReplicas: 2
  snapshotMaxCount: 15
  size: 0

imageUpdater:
  enabled: false
  alias: ""
  rootImageTag: "latest"
  updateStrategy: "digest"
  forceUpdate: true
  helm:
    imageNameField: "image.repository"
    imageTagField: "image.tag"
  writeBack:
    method: git
    repoURL: git@github.com:jaredfiorali/infrastructure.git
    branch: main

ipAddressPool:
  enabled: false
  name: ""
  addresses: []

bgpPeer:
  enabled: false
  name: ""
  peerAddress: ""
  peerASN: ""
  myASN: ""

bgpAdvertisement:
  enabled: false
  name: ""
  ipAddressPools: []

sidecarContainers:
  enabled: false
  containers: []

externalSecrets: []